# Bot Wallet Private Key (for auto-voting only)
PRIVATE_KEY=

# Base Network RPC URLs (Comma separated for Load Balancing)
# Example: https://base-mainnet.public.blastapi.io,https://base.meowrpc.com
RPC_URLS=https://base-mainnet.public.blastapi.io
